* { 
    margin:0;
    padding:0;
}

body{
    background:rgba(0,0,0,0.5);/*前三个参数为rgb颜色，第四个参数为透明度*/
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);/*#7F000000的前两位为16进制透明度，后六位为16进制颜色*/
}

/*按钮样式*/
.tt-wrapper{
	position:relative; 
    margin:10px;
    list-style: none;
}
.tt-wrapper li{
    margin: 5px;
}
.tt-wrapper li a{
    display: block;
    width: 50px;
    height: 50px;
    margin-left:2px;
    outline: none;
    border-radius: 5px;
    text-indent: -9000px;
    position: relative;
    cursor:pointer;
}

.tt-wrapper li .phone{
    background: transparent url(../images/phone.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

.tt-wrapper li .message{
    background: transparent url(../images/message.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

.tt-wrapper li .sentTasks{
    background: transparent url(../images/sentTasks.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

.tt-wrapper li .apparatus{
    background: transparent url(../images/apparatus.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

.tt-wrapper li .video{
    background: transparent url(../images/video.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}


.tt-wrapper li .phone:hover {
    background: transparent url(../images/phoneHover.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

.tt-wrapper li .message:hover {
    background: transparent url(../images/messageHover.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

.tt-wrapper li .sentTasks:hover {
    background: transparent url(../images/sentTasksHover.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

.tt-wrapper li .apparatus:hover {
    background: transparent url(../images/apparatusHover.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

.tt-wrapper li .video:hover {
    background: transparent url(../images/videoHover.png) no-repeat top left;
    background-size:50px 50px;
    background-position:center;
}

/*窗口*/
 
.esriPopup .titlePane{
	background-color: #3D5F8C;
	border-radius: 0 0 0 0;
    color: #ffffff;
    cursor: default;
    line-height: 35px;
    padding-left: 10px
}
.esriPopup .title{
	background-color: #3D5F8C;
}


.esriPopup .titleButton.maximize {
	background-position: -55px 0;
    height: 11px;
    right: 25px;
    top: 42px;
    width: 11px;
}


.esriPopup .titleButton.close {
    background-position: 0 0;
    height: 17px;
    right: 6px;
    top: 8px;
    width: 12px;
}

.esriPopup .sizer {
	position: relative;
    z-index: 1;
}
.esriPopup .contentPane{
	background-color: #f7f7f7;
    color: #333333;
    max-height: 500px;
    overflow: auto;
    position: relative;
}
.esriPopup a{
	color:#F7F7F7;
}

.esriPopup .maximize.titleButton{
	width:0px;
}

#currentEvent{
	
}

/****地图部分样式****/
.map{
	height:900px;
}

#HomeButton {
     position: absolute;
     top: 100px;
     left: 20px;
     z-index: 50;
}